.body {
    height:100%;
}
.App {
    background-color: #AC2832;
    height:100%;
}
.breadcrumb {
    background-color: #AC2832;
    text-decoration: none;
}
.breadcrumbLink {
    color: #DFD297;
}

.breadcrumbLink:hover {
    color: #DFD297;
    text-decoration: none;
}

.cheeseburger-menu-shadow {
    background-color: #AC2832;
}

.input {
    background-color: #e8e8f9;
}

.level {
    background: #000000;
    color: #DFD297;
    margin-top:1%;
    text-align: center;
    border-radius: 10%;
    width:80%;
    height: 50px;
}

.level:hover {
    color: #DFD297;
    text-decoration: none;
}

.progressBarDiv {
    padding-bottom: 2px;
}