.body {
    height:100%;
}
.App {
    background-color: #AC2832;
    height:100%;
}
.breadcrumb {
    background-color: #AC2832;
}
.breadcrumbLink {
    color: #DFD297;
}

.cheeseburger-menu-shadow {
    background-color: #AC2832;
}

.input {
    background-color: #e8e8f9;
}